<div id="animationLinks"></div>
<div class="svg-container animation-container">
	<svg id="animation" class="stretch-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" overflow="hidden"></svg>
</div>
