<span class="music-links__text"><%= text.composition %>: </span>
<select id="musicSelect" class="music-links__select">
<% musicData.forEach(musicDataEntry => { %>
	<option <%- musicDataEntry.id === currentMusicId ? 'selected="selected"' : '' %> value="<%= musicDataEntry.id %>">
		<%= musicDataEntry.title %>
	</option>
<% }); %>
</select>
