<html xmlns:svg="http://www.w3.org/2000/svg">
	<head>
		<meta charset="utf-8"/>
		<meta name="description" content="Проект по визуализации хореографии аргентинских народных танцев. Argentina folk dances visualization project."/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Adentro</title>
		<!--[if lte IE 8]>
		<meta http-equiv="refresh" content="0; url=old_browser.html" />
		<![endif]-->

		<!--[if gt IE 8]><!-->
		<script src="styles.js"></script>
		<!--<![endif]-->
	</head>
	<body>
		<!--[if gt IE 8]><!-->
		<header class="header">
			<div id="logo"></div>
			<div id="lang">
			</div>
		</header>
		<main class="main">
			<div class="sidebar">
				<%- include('index/menu.ejs', {menuItems}); %>
			</div>

			<div class="content">
				<div id="navigation">
				</div>

				<h1 id="danceName" class="title"></h1>

				<div>
					<%- include('index/player.ejs', {}); %>
				</div>
				<div id="musicLinks"></div>

				<div class="scheme-wrapper" id="schemaDiv"></div>

				<div class="content_menu" id="content_menu"></div>
				<div id="content" class="animation-wrapper"></div>
			</div>
		</main>

		<footer class="footer">
			<%- include('index/social.ejs', {}); %>
			<div class="footerinfo">
				Adentro <%= version %>. Created by Sergey Sharov.
			</div>
		</footer>

		<script src="vendor.js"></script>
		<script src="main.js"></script>
		<!--<![endif]-->
	</body>
</html>
