<html xmlns:svg="http://www.w3.org/2000/svg">
	<head>
		<meta charset="utf-8"/>
		<meta name="description" content="Проект по визуализации хореографии аргентинских народных танцев. Argentina folk dances visualization project."/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Adentro</title>
		<!--[if lte IE 8]>
		<meta http-equiv="refresh" content="0; url=old_browser.html" />
		<![endif]-->

		<!--[if gt IE 8]><!-->
		<script src="styles.js"></script>
		<!--<![endif]-->
	</head>
	<body>
		<!--[if gt IE 8]><!-->
		<header>
			<div id="logo"></div>
			<div id="lang">
			</div>
		</header>
		<main>
			<div class="sidebar">
				<%- include('index/menu.ejs', {menuItems}); %>
			</div>

			<div class="center" id="navigation">
			</div>

			<div class="title">
				<h1 id="danceName"></h1>
			</div>

			<div class="center">
				<%- include('index/player.ejs', {}); %>
				<div class="center" id="musicLinks"></div>
			</div>

			<div class="center" id="schemaDiv"></div>

			<div class="content_menu" id="content_menu"></div>
			<div class="center" id="content"></div>

			<div class="footer center">
				<%- include('index/social.ejs', {}); %>
				<div class="footerinfo">
					Adentro <%= version %>. Created by Sergey Sharov.
				</div>
			</div>
		</main>

		<script src="vendor.js"></script>
		<script src="main.js"></script>
		<!--<![endif]-->
	</body>
</html>
