.figure {
	stroke-width: 2px;
	stroke: black;
}
.figure--man {
	fill: blue;
}
.figure--woman {
	fill: darkmagenta;
}
.figure--straight-beat {
	stroke-width: 5px;
	stroke: red;
}

.path {
	fill: none;
	stroke-width: 3px;
	stroke-miterlimit: 10;
	stroke-dasharray: 9px 9px;
}
.path--man {
	stroke: blue;
}
.path--woman {
	stroke: darkmagenta;
}

.invisible {
	opacity: 0;
}

.rotation-arrows {	
	fill: black;
	opacity: 0.2;
}
