.hands {
	transition: opacity 0.2s;
}

.path {
	fill: none;
	stroke-width: 2px;
	stroke-miterlimit: 10;
	stroke-dasharray: 9px 9px;
}
.path--man {
	stroke: blue;
}
.path--woman {
	stroke: darkmagenta;
}

.invisible {
	opacity: 0 !important;
}

.rotation-arrows {
	fill: black;
	opacity: 0.2;
}
