body {
	margin-top: 0px;
	font-family: Verdana, sans-serif;
	font-size: 14px;
}

.logo {
	margin: 10px;
}

.lang-links {
	position: absolute;
	right: 0;

	&__link, &__link:visited:not(.link--current) {
		color: #939393;
	}
}

#navigation {
	display: table;
	margin-top: 0px;
}

#animationDiv {
	margin-top: -20px;
}

#schemaDiv {
	margin-top: 15px;
	position: relative;
}

#content {
	margin-top: 10px;
}

.animation-links {
	margin: 10px 0 20px;
	text-align: center;
	color: #939393;
}

.music-links {
	margin-top: 10px;
}

.music-links__text,
.music-links__select {
	font-size: 12px;
}

.music-links__text {
	color: #939393;
}

.music-links__select {
	color: #434343;
}

ul {
	padding-left: 0px;
}

.title {
	margin-top: 27px;
	font-size: 24px;
	font-family: Negotiate, sans-serif;
	font-weight: normal;
	color: #939393;

	&:first-letter {
		color: #0094ff;
	}
}

#info {
	text-align: left;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#info h2 {
	font-size: 16px;
}

#content_menu {
	display: block;
	text-align: center;
	margin: 3px 0px 20px 0px;
}

#content {
}

a.content_link {
	color: #111111;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	background-color: #eeeeee;
	border: 1px solid #aaaaaa;
	padding: 3px 5px;
	margin: 0px 5px;
}

a.content_link.active {
	pointer-events: none;
	cursor: default;
	border: 2px solid #aaaaaa;
	background-color: #dddddd;
}

.menu-item {
	text-decoration: underline;
	cursor: pointer;
}

.menu-item--current {
	cursor: default;
	text-decoration: none;
	font-weight: bolder;
}

.footer {
	font-size: 11px;
	color: #939393;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
    border-top: #DDD solid 1px;
    padding-top: 10px;

	&__info {
		margin-left: 10px;
	}
}

.svg-container {
	position: relative;
	width: 100%;
	height: 0;
	padding: 0;
}

.stretch-svg {
	position: absolute;
	left: 0;
	top: 0;
}

.header {
	display: block;
	position: relative;
	width: 100%;
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	position: relative;
	width: 100%;
}

.content {
	display: flex;
	width: 100%;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
}

.scheme-wrapper, .animation-wrapper {
	width: 100%;
	max-width: 800px;
}

@import 'blocks/link.scss';
@import 'blocks/social-links.scss';
