@import 'mixins/_media.scss';

.sidebar {
	min-width: 200px;

	@mixin media S {
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.2s 0s, visibility 0s 0.2s;

		&--visible {
			visibility: visible;
			opacity: 1;
		}
	}

	@mixin media M {
		min-width: 120px;
	}
}

.dance-menu {
	padding: 5%;

	&__item {
		margin: 5%;
		list-style-type: none;

		&--1 {
		}

		&--2 {
			margin-left: 15%;
		}
	}

	&__link {
		cursor: pointer;
		text-decoration: underline;

		&--current {
			color: red;
			font-weight: bold;
			text-decoration: none;
			cursor: default;
			pointer-events: none;
		}

		&:hover:not(&--current) {
			color: orange;
		}
	}
}
