#dance-menu {
	&, & ul {
		margin: 0;
		list-style: none;
		padding: 0;
		background-color: #dedede;
	}

	ul {
		display: none;
		position: absolute;
		left: 0;
		top: 100%;
		background-color: #ccc;
	}

	li:hover > * {
		display: block;
	}

	li {
		position: relative;
		display: block;
		white-space: nowrap;
		font-size: 0;
		float: left;
	}

	li:hover {
		z-index: 1;
	}

	ul ul {
		position: absolute;
		left: 100%;
		top: 0;
	}

	li a {
		display: inline-block;
	}

	& > li {
		margin: 0;
	}

	& a:active, & a:focus {
		outline-style: none;
	}

	a {
		display: block;
		vertical-align: middle;
		text-align: left;
		font-family: Open Sans, Arial, sans-serif;
		font-size: 14px;
		color: #000000;
		padding: 10px;
		background-color: #bbb;
		border-width: 0 0 0 1px;
		border-style: solid;
		border-color: #aaa;
	}

	ul li {
		float: none;
	}

	ul a {
		text-align: left;
		padding: 10px;
		background-color: #ccc;
		border-width: 0;
		font-family: Open Sans, Arial, sans-serif;
		font-size: 14px;
		color: #000;
	}

	& li a:hover, & li a.pressed {
		background-color: #aaa;
		color: #000000;
	}

	span {
		display: block;
		overflow: visible;
		background-position: right center;
		background-repeat: no-repeat;
		background-image: url("../img/arrowsub.png");
		padding-right: 12px;
	}

	& > li > a > span {
	    background-image: url("../img/arrowsub_vert.png");
	}
}
