@import 'mixins/_media.scss';

.sidebar {
	min-width: 200px;

	@mixin media S {
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.2s 0s, visibility 0s 0.2s;

		&--visible {
			visibility: visible;
			opacity: 1;
		}
	}

	@mixin media M {
		min-width: 120px;
	}
}

.dance-menu {
	padding: 5%;

	li {

	}

	&__item {
		margin: 5%;

		&--1 {
			margin-left: 10%;

		}

		&--2 {

		}
	}
}
