@import 'mixins/_media.scss';

.sidebar {
	position: relative;
	min-width: 200px;

	@mixin media S {
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s 0s, visibility 0s 0.3s;

		&--visible {
			visibility: visible;
			opacity: 1;
		}
	}

	@mixin media M {
		min-width: 120px;
	}
}

.dance-menu {
	padding: 5%;
	font-family: Negotiate, sans-serif;
	font-size: 16px;
	color: #939393;

	&__item {
		margin: 5%;
		list-style-type: none;

		&--1 {
		}

		&--2 {
			margin-left: 15%;
		}
	}

	&__link {		
		text-decoration: none;
	}
}
