@import 'mixins/_media.scss';

.dance-menu {
	padding: 0 5% 5%;
	font-family: Negotiate, sans-serif;
	font-size: 16px;
	color: #939393;

	ul {
		margin: 0;
	}

	&__item {
		margin: 5%;
		list-style-type: none;

		&--1 {
		}

		&--2 {
			margin-left: 15%;
		}
	}

	&__link {
		text-decoration: none;
	}

	@mixin media S {
		font-size: 18px;
		padding: 5%;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s 0s, visibility 0s 0.3s;
		display: none;
	}
}

.menu-icon {
	$basis: 5px;

	width: 30px;
	height: calc($basis * 5);
	position: relative;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;

	span {
		display: block;
		position: absolute;
		height: $basis;
		width: 100%;
		background: #939393;
		border-radius: $basis;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
	}

	span:nth-child(1) {
	  top: 0px;
	  transform-origin: left center;
	}

	span:nth-child(2) {
	  top: calc($basis * 2);
	  transform-origin: left center;
	}

	span:nth-child(3) {
	  top: calc($basis * 4);
	  transform-origin: left center;
	}

	&--open {
		span:nth-child(1) {
		  transform: rotate(45deg);
		  top: -1px;
		  left: 8px;
		}

		span:nth-child(2) {
		  width: 0%;
		  opacity: 0;
		}

		span:nth-child(3) {
		  transform: rotate(-45deg);
		  left: 8px;
		}
	}
}
