@import 'mixins/_media.scss';
@import 'vars/_colors.scss';

// .sidebar {
// 	position: relative;
// 	min-width: 200px;
// 	background: white;

// 	@include media(M) {
// 		position: fixed;
// 		z-index: 10;
// 		left: 0;
// 		top: 0;
// 		width: 100%;
// 	}

// 	@include media(L) {
// 		min-width: 120px;
// 	}

// 	&--open {
// 		height: 100%;
// 		overflow: scroll;
// 	}
// }

// .logo {
// 	margin: 10px;
// 	display: flex;
// 	align-items: center;

// 	@include media(M) {
// 		cursor: pointer;
// 	}
// }

// .menu-icon {
// 	display: none;
// 	height: 25px;
// 	margin: 5px 15px 0 10px;

// 	@include media(M) {
// 		display: inline-block;
// 	}
// }

// .logo-image {
// 	height: 45px;

// 	@include media(S) {
// 		height: 30px;
// 	}
// }

// .lang-links {
// 	width: 100%;
// 	text-align: right;

// 	&__link, &__link:visited:not(.link--current) {
// 		color: $adentroGrey;
// 	}

// 	@include media(M) {
// 		width: auto;
// 		position: absolute;
// 		right: 20px;
// 		top: 15px;
// 		font-size: 1.3em;

// 		opacity: 0;
// 		visibility: hidden;
// 		transition: opacity 0.3s 0s, visibility 0s 0.3s;
// 		display: none;
// 	}
// }

.visible {
	visibility: visible !important;
	opacity: 1 !important;
	display: block !important;
}
