<% function addItem(item, level) { %>
	<li class="dance-menu__item dance-menu__item--<%= level %>">
		<%- item.title %>
	</li>
<% } %>

<% function addLink(item, level) { %>
	<% if (item.scheme) { %>
		<a class="dance-menu__link link" data-scheme="<%- item.scheme %>" title="<%- item.titleRu %>">
		<% addItem(item, level) %>
		</a>
	<% } else { %>
		<% addItem(item, level) %>
	<% } %>
<% } %>

<% function addItems(items, level = 1) { %>
	<ul>
	<%
		items.forEach(item => {
			addLink(item, level);

			if (item.children) {
				addItems(item.children, level + 1);
			}
		});
	%>
	</ul>
<% } %>

<nav class="dance-menu">
	<% addItems(menuItems.sort((a, b) => a.title.localeCompare(b.title))); %>
</nav>
