<div class="social">
	<a class="facebook" href="https://facebook.com/adentro.ru" title="Facebook" target="_blank"></a>
	<a class="twitter" href="https://twitter.com/adentro_ru" title="Twitter" target="_blank"></a>
	<a class="github" href="https://github.com/Kreozot/adentro" title="Github (sources)" target="_blank"></a>
</div>
