<div class="social">
	<a class="social__link" href="https://facebook.com/adentro.ru" title="Facebook" target="_blank"><%- include('./social/facebook.svg') -%></a>
	<a class="social__link" href="https://twitter.com/adentro_ru" title="Twitter" target="_blank"><%- include('./social/twitter.svg') %></a>
	<a class="social__link" href="https://github.com/Kreozot/adentro" title="Github (sources)" target="_blank"><%- include('./social/github.svg') %></a>
</div>
